<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="UserInfo" type="Task1.UserInfo, Task1" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
    
    <appSettings>
        <add key="Welcome" value="Hello User"/>
    </appSettings>
    
    
</configuration>